@font-face {
  font-family: "Geist-Bold";
  src: url("./Geist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Geist-Regular";
  src: url("./Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Black";
  src: url("./Geist-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Light";
  src: url("./Geist-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Medium";
  src: url("./Geist-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-UltraBlack";
  src: url("./Geist-UltraBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-SemiBold";
  src: url("./Geist-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Thin";
  src: url("./Geist-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistMono-Regular";
  src: url("./GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistMono-Medium";
  src: url("./GeistMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistMono-Bold";
  src: url("./GeistMono-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
